{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block card_header %}
  Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
{% endblock card_header %}
{% block content %}
  {% include 'includes/form_errors.html' %}

  <form method="post" action={% url 'employees:password_reset' %}>
    {% include 'includes/form.html' %}

    <div class="col-md-6 offset-md-4">
      <button type="submit" class="btn btn-primary">
        Сбросить пароль
      </button>
    </div>
  </form>  
{% endblock content %}